/* Define color scheme */
:root {
    --typing-color-1: #ff5733;
    --typing-color-2: #33c4ff;
    --bg-color: #f8f9fa; /* Light background color */
    --second-bg-color: #ffffff; /* White secondary background color */
    --text-color: #343a40; /* Dark text color */
    --main-color: #007bff; /* Blue main accent color */
    --other-color: #6c757d; /* Gray color for secondary text */
    --alt-color: #e9ecef; /* Light gray alternative color for borders and some text */
    --ann-color: #17a2b8; /* Teal accent color for announcements or small elements */
    --success-color: #28a745; /* Green success color */
    --warning-color: #ffc107; /* Yellow warning color */
    --danger-color: #dc3545; /* Red danger color */
    --border-color: black;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure body covers the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    transition: background-image 1s ease-in-out; /* Smooth transition for background image */
}

/* Add styles for the container */
.container {
    width: 100%;
    max-width: 600px;
    margin: 20px;
    background: var(--second-bg-color);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    border: 2px solid var(--main-color); /* Add border */
    animation: breathing 3s infinite; /* Apply breathing animation */
}

h1, h3 {
    text-align: center;
    color: var(--text-color);
}

h1 {
    font-size: 1.5em; /* Make it bigger */
    color: var(--text-color); /* Darker color */
    opacity: 1; /* Fully opaque */
}

h3 {
    font-size: 0.8em; /* Make it smaller */
    color: var(--other-color); /* Lighter color */
    opacity: 0.8; /* Slightly transparent */
}

.add-task, .filter-tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Add styles for the input fields */
.add-task input, .add-task select, .filter-tasks select {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid  var(--other-color);
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Add styles for the button */
.add-task button {
    display: inline-block;
    padding: 15px 25px;
    background: var(--main-color);
    color: var(--second-bg-color);
    font-size: 10px;
    font-weight: 500;
    border-radius: 13px; /* Rounded corners */
    border: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, letter-spacing 0.3s ease; /* Add transition for letter-spacing */
}

.add-task button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--success-color);
    transition: transform 0.3s ease;
    transform: scaleX(0);
}

.add-task button:hover::after {
    transform: scaleX(1);
}

.add-task button:hover {
    background-color: var(--success-color);
    letter-spacing: 2px; /* Adds spacing between letters on hover */
}

ul#taskList, ul#recycleBin {
    list-style: none;
    padding: 0;
}

/* Add styles for the list items */
ul#taskList li, ul#recycleBin li {
    background: var(--second-bg-color);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--alt-color);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    animation: fadeIn 0.5s ease-in-out;
}

/* Add hover effect on list items */
ul#taskList li:hover, ul#recycleBin li:hover {
    background-color: var(--alt-color);
}

/* Add styles for the completed tasks */
ul#taskList li.completed, ul#recycleBin li.completed {
    text-decoration: line-through;
    color: var(--other-color);
    animation: slideIn 0.5s ease-in-out;
}

/* Add styles for the task details */
ul#taskList li .category, ul#recycleBin li .category {
    font-size: 0.9em;
    color: var(--other-color);
}

ul#taskList li .timestamp, ul#recycleBin li .timestamp {
    font-size: 0.8em;
    color: var(--other-color);
    margin-top: 5px;
}

/* Add styles for the task text to handle overflow and centering */
ul#taskList li .task-text, ul#recycleBin li .task-text {
    flex: 1; /* Take up remaining space */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Add ellipsis (...) to indicate overflow */
    text-align: center; /* Center the text */
    position: relative; /* Position relative for the tooltip */
}

/* Add styles for the tooltip */
ul#taskList li .task-text::after, ul#recycleBin li .task-text::after {
    content: attr(data-full-text); /* Show the full text */
    position: absolute;
    top: 100%; /* Position below the text */
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    color: #000;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Hide by default */
}

/* Show tooltip on hover */
ul#taskList li .task-text:hover::after, ul#recycleBin li .task-text:hover::after {
    display: block;
}

/* Add styles for the buttons */
ul#taskList li button, ul#recycleBin li button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--other-color);
    font-size: 0.9em;
    margin-left: 10px;
    transition: color 0.3s ease;
    position: relative;
    overflow: hidden;
}
/* Add styles for the hover effect on the buttons*/
ul#taskList li button::after, ul#recycleBin li button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 123, 255, 0.2);
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
}

ul#taskList li button:hover::after, ul#recycleBin li button:hover::after {
    transform: scaleX(1);
}

ul#taskList li button:hover, ul#recycleBin li button:hover {
    color: var(--main-color);
}

/* Add styles for the Restore button */
.restore-button {
    background: var(--success-color);
    border: none;
    cursor: pointer;
    color: var(--success-color);
    font-size: 0.9em;
    margin-left: 10px;
    transition: color 0.3s ease;
    position: relative;
    overflow: hidden;
    text-decoration: none; /* Ensure no text decoration */
}

.restore-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--success-color);
    transition: transform 0.3s ease;
    transform: scaleX(0);
}

.restore-button:hover::after {
    transform: scaleX(1);
}

.restore-button:hover {
    background-color: var(--success-color);
}

/* Ensure the Restore button is not affected by the completed class */
ul#recycleBin li.completed .restore-button {
    text-decoration: none;
    color: var(--success-color);
}

/* Add styles for the Clear Recycle Bin button */
#clearRecycleBinButton {
    display: inline-block;
    padding: 10px 15px; /* Smaller padding */
    background: var(--main-color);
    color: var(--second-bg-color);
    font-size: 12px; /* Smaller font size */
    font-weight: 500;
    border-radius: 13px; /* Rounded corners */
    border: none;
}

#clearRecycleBinButton:hover {
    background-color: var(--danger-color);
}

/* Add styles for the Clear All Data button */
#clearAllDataButton {
    display: inline-block;
    padding: 10px 15px; /* Smaller padding */
    background: var(--main-color);
    color: var(--second-bg-color);
    font-size: 12px; /* Smaller font size */
    font-weight: 500;
    border-radius: 13px; /* Rounded corners */
    margin-left: auto; /* Align to the right */
    border: none;
}

/* Add hover effect on the button */
#clearAllDataButton:hover {
    background-color: darkred;
}

/* Add styles for the Toggle Background button */
.styled-button {
    display: inline-block;
    padding: 10px 15px; /* Adjust padding as needed */
    background: var(--main-color);
    color: var(--second-bg-color);
    font-size: 12px; /* Adjust font size as needed */
    font-weight: 500;
    border-radius: 13px; /* Rounded corners */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

/* Add hover effect on the button */
.styled-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
}

.styled-button:hover::after {
    transform: scaleX(1);
}

.styled-button:hover {
    background-color: var(--success-color);
}

/* Container for the buttons */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

/* Recycle bin icon styling */
.button-container .recycle-bin-icon {
    font-size: 24px;
    cursor: pointer;
    margin: 0 20px;
    flex-grow: 1;
    text-align: center;
}

.hidden {
    display: none;
}

/* Timestamp styling */
.timestamp {
    font-size: 0.8em;
    color: var(--other-color);
    margin-left: 10px;
}

/* Rate It section */
.rate-it {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--second-bg-color);
    border: 1px solid var(--alt-color);
    border-radius: 4px;
}

.rate-it h2 {
    margin-bottom: 10px;
    color: var(--text-color);
}

/* Button styling */
.rate-it button {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--second-bg-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.rate-it button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
}

.rate-it button:hover::after {
    transform: scaleX(1);
}

.rate-it button:hover {
    background-color: darken(var(--main-color), 10%);
}

/* Typing animation styling */
.input {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
    transition: color 0.5s ease-in-out;
}

.input .typed-cursor {
    font-size: 2em;
    color: var(--main-color);
}

/* Add animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Video background styling */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure the video is behind other content */
}

/* Video styling */
#bgVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}


/* Define keyframes for the animation */
@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Apply the animation to the h1 element */
h1 {
    animation: slideIn 1s ease-in-out;
}

/* Define keyframes for the breathing effect */
/* Define keyframes for the breathing effect */
@keyframes breathing {
    0% {
        border-color: var(--main-color);
        box-shadow: 0 0 10px var(--main-color);
    }
    50% {
        border-color: var(--ann-color);
        box-shadow: 0 0 20px var(--ann-color);
    }
    100% {
        border-color: var(--main-color);
        box-shadow: 0 0 10px var(--main-color);
    }
}

/* Footer styles */
.footer {
    padding: 20px 14%;
    background: transparent;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    position: fixed; /* Fix the footer at the bottom */
    bottom: 0; /* Align to the bottom */
    width: 100%; /* Full width */
    text-align: center; /* Center the text */
}

/* Copyright text in footer */
.Copyright p {
    font-size: 15px;
    font-weight: 400;
    color: var(--second-bg-color);
}
